@import '../../../public/styles/media';

.header {
  padding-top: 30px;


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
  }

  &__menu {
    margin-left: auto;
    font-size: 20px;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;
    }

    &-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      position: relative;


      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        transition-duration: inherit;
        background: currentColor;
      }
    }
  }

  &__logo {
    filter: grayscale(100%) brightness(30%);
  }
}





