<header class="header">
  <div class="header__inner container">
    <a class="header__logo logo" href="/">
      <img class="logo__image"
           src="../images/logo.svg"
           alt="logo"
           width="200"
           height="50"
           loading="lazy"
      >
    </a>
    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a class="header__menu-link" href="/">Sign up</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="/">Sign in</a>
        </li>
      </ul>
    </nav>
  </div>
  <app-feature-menu/>
</header>
