@import '../../../../public/styles/mixins';
@import '../../../../public/styles/media';

:host {
  @include flex-center(true);
  padding-inline: 35px;
  height: var(--button-height);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color-dark);
  width: var(--button-width);
  cursor: pointer;
  gap: 10px;
  transition-duration: var(--transition-duration);


  @include hover {
    background-color: var(--color-accent);
  }
}



