@import '../../../../public/styles/mixins';
@import '../../../../public/styles/media';


.feature-menu {
  padding-top: 60px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.button--transparent {
  color: var(--color-dark);
  background-color: transparent;
}
