<nav class="feature-menu container">
  <ul class="feature-menu__list">
    <li class="feature-menu__item">
      <button appFeatureButton>Characters</button>
    </li>
    <li class="feature-menu__item">
      <button appFeatureButton>Characters</button>
    </li>
    <li class="feature-menu__item">
      <button appFeatureButton>Characters</button>
    </li>
    <li class="feature-menu__item">
      <button appFeatureButton>Characters</button>
    </li>
    <li class="feature-menu__item">
      <button appFeatureButton>Characters</button>
    </li>
    <li class="feature-menu__item">
      <button appFeatureButton>Characters</button>
    </li>
  </ul>
</nav>


<!--<li class="feature-menu__item">-->
<!--  <button class="feature-menu__button feature-menu-button button button&#45;&#45;transparent"-->
<!--          type="button"-->
<!--  >-->
<!--    <img class="feature-menu-button__image"-->
<!--         src="../../images/button-icons/icon-1.png"-->
<!--         alt="Characters"-->
<!--         width="30"-->
<!--         height="30"-->
<!--         loading="lazy"-->
<!--    >-->
<!--    <span class="feature-menu-button__title">Characters</span>-->
<!--  </button>-->
<!--</li>-->
