<nav class="feature-menu container">
  <ul class="feature-menu__list">
    @for (el of buttonEntities; track el.type) {
      <li class="feature-menu__item">
        <button appFeatureButton
                class="feature-menu-button--transparent"
                [buttonEntity]="el"
                (selectedButton)="onSelectElement($event)"
                [class.feature-menu-button--active]="el.type === selectedElementType"
        >
          <span ngProjectAs="feature-button__title">{{ el.type }}</span>
        </button>
      </li>
    }
  </ul>
</nav>

